{% extends "network/posts.html" %}
{% load static %}

{% block custom %}

    {% if user.is_authenticated %}
        {% if newpost %}
            <form action="{% url 'newpost' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ newpost }}
                </div>
                <input type="submit" value="Post" class="btn btn-primary">
                <span id="charsleft" class="float-right text-secondary"></span>
            </form>
            <hr />
        {% endif %}  
    {% endif %}

{% endblock %}

{% block morescripts %}
    {% if user.is_authenticated %} 
    <script src="{% static 'network/newpost.js' %}"></script>
    {% endif %}
{% endblock %}