{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
    <form action="{% url 'newpost' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ newpost }}
        </div>
        <input type="submit" value="Post" class="btn btn-primary">
        <span id="charsleft" class="float-right text-secondary"></span>
    </form>
    {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}