{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% block custom %}
    {% endblock %}

    {% for post in posts %} 
        <div class="card mx-1 my-3 px-5 py-3">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'userpage' post.data.posted_by %}">{{ post.data.posted_by }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.data.date_posted }}</h6>
                <div class="mb-4 mt-4" id="post-{{ post.data.id }}"">
                    <p class="card-text">{{ post.data.content }}</p>
                </div>
                <span class="likes" id={{ post.data.id }} status={{ post.liked }}>
                    {% if post.liked %}
                        &#10084;
                    {% else %}
                        &#9825;
                    {% endif %} 
                    {{ post.data.likes_count }}
                </span>
                {% if user == post.data.posted_by %}
                    <button class="btn btn-primary float-right edit" id={{ post.data.id }}>Edit</button>
                {% endif %}
                </div>
        </div>
    {% endfor %}
    
    <nav aria-label="search posts" class="d-flex justify-content-center align-items-center">
        <ul class="pagination mx-auto">
          
          {% if current_page > 1 %}
            <li class="page-item">
          {% else %}
            <li class="page-item disabled">
          {% endif %}    
            <a class="page-link" href="{% url 'index' %}?page={{ prev_page }}">Previous</a>
          </li>

          {% for page in pages %}
          
            {% if page == current_page %}
                <li class="page-item active">
            {% else %} 
                <li class="page-item">
            {% endif %}
                <a class="page-link" href="{% url 'index' %}?page={{ page }}">{{ page }}</a>
            </li>
            
          {% endfor %}

          {% if current_page < last_page %}
            <li class="page-item">
          {% else %}
            <li class="page-item disabled">
          {% endif %}    
            <a class="page-link" href="{% url 'index' %}?page={{ next_page }}">Next</a>
          </li>
        </ul>
    </nav>

{% endblock %}

{% block script %}
    {% if user.is_authenticated %} 
        <script src="{% static 'network/like.js' %}"></script>
        <script src="{% static 'network/edit.js' %}"></script>
    {% endif %}
    {% block morescripts %}
    {% endblock %}
{% endblock %}